.background {
    /* top: 30px;
    left: 35px; */
    z-index: 1;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .iphone {
    aspect-ratio: 9/19.5;
    height: 699px;
}

.ipad {
    aspect-ratio: 199/139;
    height: 610px;
} */

.letter {
    aspect-ratio: 8.5/11;
    height: 699px;
}

.table {
    position: absolute;
    border: solid 0.5px black;
}

.table,
.td {
    border-collapse: collapse;
    border-spacing: 0px;
}

.tr {
    height: 49px;
    border-collapse: collapse;
}

.th {
    border: solid 0.5px;
    height: 11px;
    font-size: 9px;
    text-align: center;
    font-weight: 400;
    border-collapse: collapse;
}