.div {
    display: "flex";
    flex-direction: "row";
    border: 1px solid black;
    border-radius: 100px;
    margin: 10px;
}

/* .div:hover {
    box-shadow: 2px 2px 20px #C2B8A3, -2px 2px 20px #C2B8A3
} */

.darkModeDiv {
    border: 1px solid #C2B8A3;
}