.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div {
    margin: 20px;
    /* border: solid 10px #C2B8A3; */
    padding: 30px;
    border-radius: 30px;
    /* box-shadow: 3px 3px #C2B8A3, -1em 0 .4em #C2B8A3; */
    /* border-color: #C2B8A3; */
    /* background-color: #F8F4EC; */
}

.colorSelector {
    appearance: none;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.colorSelector::-webkit-color-swatch {
    border-radius: 9px;
    border: 1px black solid;
}

.colorSelector::-moz-color-swatch {
    border-radius: 9px;
    border: none;
}