.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.courseGrid {
    width: 48px;
    border: 0.1px solid black;
    /* resize: vertical; */
    overflow: auto;
    border-radius: 4px;
    position: absolute;
}

.courseInput {
    text-align: center;
    outline: none;
    background-color: inherit;
    font-size: 7px;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 8px;
}

.courseCode {
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    font-size: 8px;
    line-height: 9px;
}

.label {
    line-height: 2px;
    font-style: bold;
}

.day {
    text-align: center;
}

.top {
    position: absolute;
    bottom: 50px;
    margin: 0;
    padding: 0;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    right: 0;
}