.background {
    aspect-ratio: 9/19;
    height: 699px;
    top: 30px;
    left: 35px;
    z-index: 1;
    border-radius: 10px;
}

.center {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}