.table {
    margin-top: 110px;
    border: solid 0.5px black;
}

.table,
.td {
    border-collapse: collapse;
    border-spacing: 0px;
}

.tr {
    height: 49px;
}

/* .td {
    width: 49px;
} */

.th {
    border: solid 0.5px black;
    height: 11px;
    width: 32px;
    font-size: 9px;
}