@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand&display=swap");

body {
    margin: 0;
    background-color: #F8F4EC;
}

table {
    z-index: 3;
}

th {
    font-family: 'DM Serif Display', serif;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centerR {
    display: flex;
    align-items: center;
    justify-content: center;
}